/* Hide scrollbar for IE, Edge and Firefox */
.itemsWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.itemsWrapper::-webkit-scrollbar {
  display: none;
}

.imageEffect {
  transition: 10ms;
}